*{
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{
	display: block;
}
body {
	font: 15px/18px "OpenSansRegular", sans-serif;
}
header {
	position: relative;
}
.wrapper {
	width: 100%
	max-width: 1100px;
	min-height: 100%;
	height: auto !important; 
	height: 100%;
	margin: 0 auto;
}
.pull-bottom{
	position: absolute;
	bottom: 0;
}
/*Header
-----------------------
--*/
.header {
	height: 150px;
	background: #eaeaea;
}
/*Middle
----------------------
--*/
.middle{
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
display: table;
clear: both;
content: '';
}
.conteiner{
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 20px 20px 20px 230px;
}
.content h1 {
	padding-bottom: 15px;
}
.content p {
	text-align: justify;
	text-indent: 25px;
}
/*Main Menu
----------------------
--*/
.main-menu {
	width: 100%
	background-color #adadad;
}
.main-menu ul li {
	float: left;
	padding: 10px;
	list-style: none;
}
/*Left-Sidebar
---------------------
--*/
.left-sidebar {
	float: left;
	width: 210px;
	margin-left: -100%;
	position: relative;
	background: #eaeaea;
}
/*Left-Menu
--------------------
--*/
.left-menu li {
	list-style: none;
	margin: 10px;
}
/*Footer
-------------------
--*/
.footer {
	margin: -100px auto 0;
	max-width: 1100px;
	height: 100px;
	background: #eaeaea;
}
.footer .copyright {
	position: absolute;
	padding: 10px;
	bottom: 0;
}
.footer .footer-menu li {
list-style: none;
margin: 10px;
float: left;
}